body{
    background-color:black;
}
.avatar{
    margin-top: 15rem;
    text-align: center;
}
img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-top: -10em;
}
.user{
    font-size:40px;
    text-align: center;
    color:white;
    font-family: sans-serif;
    margin-top: 1rem;
    margin-bottom: 10px;
}
.bio{
    font-size:15px;
    text-align: center;
    color:white;
    font-family: sans-serif;
    margin-top: 1rem;
    margin-bottom: 30px;
    opacity: 0.5;
}
.links{
    text-align: center;
    margin-top: 2rem;
}
.button{
    background-color: black;
    color: white;
    font-size: 14px;
    border-radius: 10%;
    width: 7rem;
    height: 2rem;
    border: none;
}
.bdisc{
    background-color: #5663F7;
    color: white;
    font-size: 13px;
    width: 7rem;
    height: 2.3rem;
    border: none;
    margin-bottom: 10px;
}
.disc{
    color: white;
    text-align: center;
}
